@import "variables";

.bg-gradient {
  padding-bottom: 1px;
  padding-left: 0;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.map {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0;
  max-width: 1240px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: left;

  & ul {
    padding: 0;
  }

  & li {
    min-width: 270px;
    list-style: none;
  }

  & h4 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.networks li {
  display: inline;
  margin-right: 24px;
}

.line {
  content: "";
  border-top: 1px solid $medium-light;
}

nav {
  margin: 2rem auto;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;

  & ul {
    padding: 0;
  }

  & > ul > li {
    display: inline;
    margin-right: 16px;
    margin-bottom: 16px;
    list-style: none;
  }
}

@media (max-width: 414px) {
  nav > ul > li {
    display: block;
    text-align: left;
  }
}

