@import "variables";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: $medium-light;
  background-color: $base-color;
}

h1 {
  font-size: 30px;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
  box-sizing: border-box;
}

.btn-transparent {
  display: block;
  margin-top: 40px;
  border: 1px solid $white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

@media (min-width: 415px) {
  h1 {
    font-size: 60px;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 38px;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
  }
}