@import "variables";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: $medium-light;
  background-color: $base-color;
}

h1 {
  font-size: 30px;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 415px) {
  h1 {
    font-size: 60px;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 38px;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
}