@import "variables";

header {
  position: relative;
  padding: 0 0 201px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  color: $white;
}

.top {
  position: absolute;
  top: 25px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;

  & p {
    margin-left: 16px;
    font-size: 10px;
  }
}

.header-left {
  text-align: left;

  & p {
    white-space: nowrap;
  }
}

.logo {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav {
  padding: 0;
  font-size: 11px;
  list-style: none;
}

.search {
  padding: 5px 10px;
  width: 100%;
  background-color: $dark;
  border-radius: 50px;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: $medium-dark;
    font-size: 13.3px;
    text-transform: uppercase;
  }
}

.banner {
  margin: 0 20px 0;
  padding-top: 250px;
  text-align: center;

  & h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  & h2 {
    margin: 0 auto;
  }

  & p {
    margin: 31px auto 17px;
  }
}

.form {
  margin: auto;

  & div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & input {
    width: 100%;
    min-height: 50px;

    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: $medium-light solid 2px;
    border-radius: 3px;
    background-color: transparent;
    box-sizing: border-box;

    &::placeholder {
      color: $white;
    }
  }

  & .btn {
    width: 100%;
    background-color: $main-button;
  }
}

@media (min-width: 414px) {
  header {
    display: flex;
    justify-content: center;
  }

  .top {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  .nav {
    margin-left: 91px;
    display: flex;
    justify-content: space-between;

    & li {
      margin-right: 12px;
    }
  }

  .header-search {
    margin-left: auto;
  }

  .search {
    margin-right: 0;
  }

  .banner {
    padding-top: 200px;
  }

  .form {
    max-width: 570px;

    & input {
      max-width: 270px;
    }
  }
}