$white: #ffffff;
$base-color: #08020D;
$main-light: #E0E0E0;
$medium-light: #CACACA;
$medium-dark: #757575;
$dark: #3C3B3D;
$main-button: #34C176;
$additional-color: #F89202;
$purple-button: #5328A1;
$orange-button: #95390C;
